.p-page-top {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #f3f3f3;
}
  
.p-page-top .material-icons-outlined {
    color:#333;
        
}